<h1>Create Post type</h1>

<form action="admin.php?page=ti-post-type.php" method="post">
<input type="hidden" name="pid" value = '<?php print($pid);?>'>
<p><span>Post Type Name</span><input type="text" name="post_type" value ="<?php print($post_type);?>"><p>
<p><span>Name</span><input type="text" name="name" value ="<?php print($label['name']);?>"><p>
<p><span>singular_name</span><input type="text" name="singular_name" value ="<?php print($label['singular_name']);?>"><p>
<p><span>supports</span><p>
<p><span>title</span><input type="checkbox" value='true' name="title" <?php if($args['title'] == "true") echo "checked";?>><p>
<p><span>editor</span><input type="checkbox" value='true' name="editor" <?php if($args['editor'] == "true") echo "checked";?>><p>
<p><span>thumbnail</span><input type="checkbox" value='true' name="thumbnail" <?php if($args['thumbnail'] == "true") echo "checked";?>><p>
<p><span>excerpt</span><input type="checkbox" value='true' name="excerpt" <?php if($args['excerpt'] == "true") echo "checked";?>><p>
<p><span>trackbacks</span><input type="checkbox" value='true' name="trackbacks" <?php if($args['trackbacks'] == "true") echo "checked";?>><p>
<p><span>public</span><input type="checkbox" value='true' name="public" <?php if($args['public'] == "true") echo "checked";?>><p>
<p><span>has_archive</span><input type="checkbox" value='true' name="has_archive" <?php if($args['has_archive'] == "true") echo "checked";?>><p>
<p><input type="submit" value="Create" class="button-primary" id="submit" name="submit" ></p>
</form>