<div class = "wrap">
	<h2>Custom Post Types</h2>
	<table class= "wp-list-table widefat fixed posts js_sort-list">
		<thead>
			<tr>
				<th>Post Type</th>
				<th>Meta Fileds</th>
				<th>Add/Edit</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Post Type</th>
				<th>Meta Fileds</th>
				<th>Add/Edit</th>
			</tr>
		</tfoot>
		<tbody>
		<?php
		foreach($post_types as $data){
		?>
			<tr class="list-item">
				<td><?php echo $data['post_type'];?></td>
				<td>Meta Fileds</td>
				<td><a href="admin.php?page=ti-post-type.php&pid=<?php echo $data['pid'];?>">Edit</a></td>
			</tr>
		<?
		}?>
		</tbody>
	</table>
</div>