<h1>Global Seo</h1>
<form action="admin.php?page=ti-seo.php" method="post">
	<p><label>Global Post Title:</label><input id="custom_post_title" name="global_post_title" value='<?php echo $global_post_title; ?>' /></p> 
	<p><label>Global Post Keywords:</label> <textarea cols="50" rows="5" name="global_post_keywords"><?php echo $global_post_keywords; ?></textarea></p> 
	<p><label>Global Post Description:</label> <textarea cols="50" rows="5" name="global_post_desc"><?php echo $global_post_desc; ?></textarea></p>
<input type="submit" value="Save Changes" class="button-primary" id="submit" name="submit">
</form>