<p><label>Custom Post Title:</label><input id="custom_post_title" name="custom_post_title" value='<?php echo $custom_post_title; ?>' /></p> 
<p><label>Custom Post Keywords:</label> <textarea cols="50" rows="5" name="custom_post_keywords"><?php echo $custom_post_keywords; ?></textarea></p> 
<p><label>Custom Post Description:</label> <textarea cols="50" rows="5" name="custom_post_desc"><?php echo $custom_post_desc; ?></textarea></p>