<h1>This is a test tpl for social media</h1>
<h3>Click on any image to set url and page position<h3>
<script>
	function enableOptions(name) {
		document.getElementById("urlText").disabled = false;
		document.getElementById("urlText").value = "http://www." + name + ".com";
		document.getElementById("name").value = name;
		document.getElementById("page").disabled = false;
		document.getElementById("post").disabled = false;
		document.getElementById("blog").disabled = false;
		document.getElementById("sequence").disabled = false;
		document.getElementById("submit").disabled = false;
	}
	function pageposition(page){
		
			document.getElementById("pageoption").disabled = false;
	}
	function postposition(post){
		
			document.getElementById("postoption").disabled = false;
	}
	function blogposition(blog){
		
			document.getElementById("blogoption").disabled = false;
	}
</script>

<form action="admin.php?page=ti-social_media.php" method="post">

	<div>
		<input type = "hidden" name = "name" id = "name" value = "value" >
		<input type = "text" name = "url" id = "urlText" value = "link" disabled = "disabled" /> <br/>
		<input type="checkbox" name="page" id = "page" value="1" disabled = "disabled" onclick='pageposition(this);'/> Show in Page
		<select name = "pageoption" id="pageoption" disabled = "disabled">
		  <option value="0">before content</option>
		  <option value="1">after content</option>
		</select>
		<br />
		<input type="checkbox" name="post" id = "post" value="1" disabled = "disabled" onclick='postposition(this);'/> Show in Post 
		<select name = "postoption" id="postoption" disabled = "disabled">
			<option value="0">before content</option>
			<option value="1">after content</option>
		</select>
		<br/>
		<input type="checkbox" name="blog" id = "blog" value="1" disabled = "disabled" onclick='blogposition(this);'/> Show in Blog 
		<select name = "blogoption" id="blogoption" disabled = "disabled">
			<option value="0">before content</option>
			<option value="1">after content</option>
		</select>
		<br/>
		<select name = "sequence" id="sequence" disabled = "disabled">
			<option value="0">Default</option>
			<?php 
				for ($sequence=1; $sequence<= $maxSequence; $sequence++) :?>
					<option value = <?php echo $sequence ;?> > <?php echo $sequence ;?> </option>
			<?php endfor;?>
		</select>
		<br/>
		<input type = "submit" value ="Save Changes" class = "button-primary" id = "submit" name = "submit" disabled = "disabled"> <br>
	</div>
</form>
	<div>
		<?php 
			foreach ($images as $image) :?>
			
				<?php $name = basename($image, ".png"); ?>
				
				<a href = '#' onclick='enableOptions(this.title);' Title = <?php echo $name ;?> > <img src = <?php  echo $image ;?> alt = 'Social Media Image' > <?php echo $name ;?> </a> <br>
			
			<?php endforeach;?>
	</div>		

