<h1>This is a test tpl for author bio</h1>

<form action="admin.php?page=ti-author_bio.php" method="post">

	<div>
		<input type = "text" name = "authorname" id = "authorname" value = "Author name" > <br/><br/>
		<select name = "username" id="username" >
			<?php foreach ($users as $user) :?>
				<option value = <?php echo $user->user_login ;?> > <?php echo $user->user_login ;?> </option>
			<?php endforeach;?>
		  
		</select>
		<br/><br/>
		<input type = "textarea" name = "about" id = "about" value = "about author" /> <br/>
		<br/>
		<input type="text" name="facebook_url" id = "facebook_url" value="facebook url" />  <br/><br/>
		<input type="text" name="twitter_url" id = "twitter_url" value="twitter url" /> <br/><br/>
		<input type = "submit" value ="Add author" class = "button-primary" id = "submit" name = "submit" >
	</div>
	<div>
		<tr valign="top">
		<th scope="row">Upload Image</th>
		<td><label for="upload_image">
		<input id="upload_image" type="text" size="36" name="upload_image" value="" />
		<input id="upload_image_button" type="button" value="Upload Image" />
		<br />Enter an URL or upload an image for the banner.
		</label></td>
		</tr>
	</div>
</form>